language: php
php:
  - 7.0
  - 7.1
  - 7.2
  - nightly
services: 
  - mongodb
env:
  - PREFER_LOWEST="--prefer-lowest --prefer-stable"
  - PREFER_LOWEST=""
matrix:
  fast_finish: true
  allow_failures:
     - php: nightly
before_script:
  - composer self-update
  - yes '' | pecl install -f mongodb-1.1
  - composer update $PREFER_LOWEST
script:
  - ./vendor/bin/phpunit --coverage-clover clover.xml
after_success: ./vendor/bin/php-coveralls -v
